html{
	user-select: none;
	background-color: #d3dfeb;
}
body {
	margin: 0px;
}

.region {
	width: 19.4vw;
	height: 7.91111111112vw;
	float: left;
	margin-left: .4vw;
	margin-top: .4vw;
	text-align: center;
	font-size: 3vw;
	background-color: #293541;
	color: #ddd;
	text-shadow: 2px 0 0 black, 0 -2px 0 black, 0 2px 0 black, -2px 0 0 black;
	font-family: sans-serif;
}
.banner {
	width: 100%;
	background-repeat: no-repeat;
	background-position: center;
	background-size: contain;
	float: left;
	height: 6vw;
}
#details {
	width: 80vw;
	margin-left: 10vw;
	margin-top: .8vw;
	height: 100px;
	background-color: #111923;
	float: left;
	img {
		height: 100%;
    	float: left;
	}
	.header {
		color: White;
		font-family: serif;
		font-size: 50px;
	}
	.desc {
		color: WhiteSmoke;
		font-family: sans-serif;
		line-height: 40px;
	}
}
.location {
	float: left;
	width: 1.7vw;
	height: 1.7vw;
	margin-left: 0.21818181818vw;
	margin-bottom: 0.21818181818vw;;
	background-color: red;
	cursor: pointer;
	box-shadow: 0 .05vw 0 0 black inset, .05vw 0 0 0 black inset, -.05vw 0 0 0 black inset, 0 -.05vw 0 0 black inset;
	img {
		width: 80%;
    	height: 80%;
    	margin-top: 10%;
	}
}
.location:hover {
	z-index: 3000;
	box-shadow: 0 .05vw 0 0 yellow inset, .05vw 0 0 0 yellow inset, -.05vw 0 0 0 yellow inset, 0 -.05vw 0 0 yellow inset;
}
.checked {
	background-color: grey;
}

#skybanner {
	background-image: url("images/banners/BiomeBannerSpace.png");
}
#solarbanner {
	background-image: url("images/banners/BiomeBannerSolarEclipse.png");
}
#pumpkinbanner {
	background-image: url("images/banners/BiomeBannerPumpkinMoon.png");
}
#frostbanner {
	background-image: url("images/banners/BiomeBannerFrostMoon.png");
}
#snowbanner {
	background-image: url("images/banners/BiomeBannerSnow.png");
}
#surface1banner {
	background-image: url("images/banners/BiomeBannerForest.png");
}
#surface2banner {
	background-image: url("images/banners/BiomeBannerForest.png");
}
#surface3banner {
	background-image: url("images/banners/BiomeBannerForest.png");
}
#oceanbanner {
	background-image: url("images/banners/BiomeBannerOcean.png");
}
#dungeonbanner {
	background-image: url("images/banners/BiomeBannerDungeon.png");
}
#evilbanner {
	background-image: url("images/banners/BiomeBannerEvil.png");
}
#undergroundbanner {
	background-image: url("images/banners/BiomeBannerUnderground.png");
}
#hallowbanner {
	background-image: url("images/banners/BiomeBannerHallow.png");
}
#junglebanner {
	background-image: url("images/banners/BiomeBannerUndergroundJungle.png");
}
#underworldbanner {
	background-image: url("images/banners/BiomeBannerUnderworld.png");
}
#ugevilbanner {
	background-image: url("images/banners/BiomeBannerUndergroundCorruption.png");
}
#cavernbanner {
	background-image: url("images/banners/BiomeBannerCavern.png");
}
#ughallowbanner {
	background-image: url("images/banners/BiomeBannerUndergroundHallow.png");
}
#jungletemplebanner {
	background-image: url("images/banners/BiomeBannerJungleTemple.png");
}

.goalhidden {
	display: none;
}
.chievhidden {
	display: none;
}